* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
body {
    background: #ffffff;
}
.container {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}
.quate-title {   
    display: block;
    margin-top: 0;
    margin-bottom: 27px;
    font-family: "Lato";
    font-size: 30px;
    font-weight: 900;
    line-height: 17.86px;
    letter-spacing: -0.1px;
    color: #f0d8d9;
}
.quate-desc {
    margin-bottom: 50px;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: justify;
    color: #f0d8d9;
}
.quate {
    padding-top: 70px;
    background-color: #f06c64;
}
.form {
    display: flex;
    justify-content: space-between;
}
.form-wrapper {
    margin-top: 43px;
    width: 619px;
}
.form-wrapper-item {
    margin-top: 16px;
}
.quote-form input,
.quote-form textarea {
    text-indent: 13px;
    color:white;
    background-color: rgb(214, 86, 79);
}
.quote-form input {
    width: 100%;
    margin-bottom: 17px;
    height: 37px;
    border: 0;
    border-radius: 5px;
}
.quote-form input::placeholder,
.quote-form textarea::placeholder {
    padding-bottom: 2px;
    font-family: "Lato";
    font-size: 12px;
    word-spacing: 3px;
    color: rgb(244, 140, 143); 
}
.quote-form textarea::placeholder {
    word-spacing: 1px;
}
.quote-form textarea {
    width: 619px;
    height: 202px;
    padding-top: 9px;
    font-size: 12px;
    font-weight: 400;
    color: #f48c8f;
    border-radius: 5px;
    background-color: #d6564f;
    border-color: #d6564f;
    resize: none;
}
.quote-form input[type=submit] {
    margin-top: 10px;
}
.quote-form input[type=submit]:hover {
    color: #e4bdc6;
    background: #808080;
}
.quate-info {
    margin-left: 20px;
    margin-top: 44px;
}
.contact-info-title {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 900;
    line-height: 17.86px;
    color: #f0d8d9;
}
.contact-info-desc {
    display: block;
    margin-top: 10px;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    line-height: 22.56px;
    letter-spacing: 0.1px;
    text-align: justify;
    color: #f0d8d9;
}
.quate-bottom {
    height: 6px;
    background-color: #ea676b;
}
.address {
    margin-top: 24px
}
.address-item {
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    font-family: "Lato";
}
.address-item:before {
    display: inline-block;
    width: 14px;
    height: 11px;
    margin-right: 5px;
    margin-left: 2px;
    content: '';
}
.address-item:nth-child(3n) {
    margin-top: 11px;
}
.location:before {
     background-position: center;
     background-size: contain;
     background: url(assets/img/location.png) 0 0 no-repeat;
}
.phone:before {
    background-position: center;
    background-size: contain;
    background: url(assets/img/phone2.png) 0 0 no-repeat;
}
.mail:before {
    background-position: center;
    background-size: contain;
    background: url(assets/img/mail.png) 0 0 no-repeat;
}
.mail-link {
    text-decoration: none;
    color: #f0d8d9;
}
.phone-link {
    text-decoration: none;
    color: #f0d8d9;
}
.address
.location {
    color: #f0d8d9;
}
.footer {
    height: 76px;
    background-color: #2d303a;
}
.copyright {
    display: block;  
    padding-top: 12px;
    font-size: 12px;
    letter-spacing: 0.1px;
    font-family: "Lato";
    color: #666d89;
}
.footer-wrapper {
    display: flex;
    width: 950px;
    padding-top: 20px;
}
.footer-social {
    display: flex;
    margin-top: 2px;
    width: 154px;
    margin-left: 693px;
    justify-content: space-between;
}
.footer-social .img-wrapper {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    margin-top: 1px;
    border: 1px solid rgb(101, 109, 137);
    border-radius: 50%;
}
.img-item {
    margin-left: 8px;
    margin-top: 7px;
}
.footer-social .img-wrapper:hover {
    border: 1px solid #d3b593;
}

.footer-social .img-wrapper:hover img {
    filter: invert(100%);
}




