* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #ffffff;
}
.container {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}
.title {
    display: block;
    margin-top: 0;
    margin-bottom: 27px;
    font-family: "Lato";
    font-size: 30px;
    font-weight: 900;
    line-height: 15.86px;
    letter-spacing: -0.1px;
    color: #666d89;
}
.desc {
    margin-bottom: 50px;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.2px;
    color: #767e9e; 
}
.row {
    display: flex;
    margin: 46px -15px 0px -15px;
}
.row-wrapper {
    flex-wrap: wrap;
}
.col-4 {
    flex-basis: 33%;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    background: #2d303a;
    position: fixed;
    z-index: 20;
    width: 100%;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
}
.hamburger {
    display: none;
} 
.header-logo {
    text-decoration: none;
}
.header-logo-singolo {
    display: block;
    margin-top: 34px;
    margin-bottom: 35px;
    font-family: "Lato";
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    line-height: 20px;
    color: #ffffff;
}
.header-logo-star {
    font-size: 25px;
    color: #f06c64;
}
.header-menu {
    display: flex;
    padding-left: 0;
    margin-top: 41px;
    list-style: none;
}
.header-menu-link {
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    line-height: 6.32px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}
.active {
    color: #f06c64;
}
.header-menu-link:hover {
    color: #f06c64;
}
.header-menu-point {
    padding-left: 11.5px;
    padding-right: 12.5px;
    color: #494e62;
}
.header-bottom {
    height: 6px;
    background: #323746;
}
.slider {
    padding-top: 90px;
    position: relative;
}

.slider > .container {
    position: relative;
} 


.slider-wrapper {
    position: relative;
    display: flex;
    padding-left: 35px;
    padding-right: 35px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.slider-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.slider-slides {
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items: center;
}

.slider-item_2 {
    padding-left: 20px; 
}
.slider-second-slide {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #648BF0;
    margin-bottom: -30px;
    
}
.slider-arrow {
    position: absolute;
    width: 20px;
    height: 60px;
    transition: all 0.3s;
}
.slider-arrow:before, 
.slider-arrow:after {
    position: absolute;
    display: block;
    height: 5px;
    width: 19px;
    content: "";
    cursor: pointer;
    background-color: #ca4549;
    border-radius: 3px;
    transition: all 0.3s;
} 
.slider-arrow:hover:before, 
.slider-arrow:hover:after {
    background-color: #e7393e;
}
.slider-arrow-prev {
    left: 15.5%;
    bottom: 39%;
}
.slider-arrow-prev:hover {
    transform: translateX(-8px);
}
.slider-arrow-prev:before {
    top: 29px;
    transform-origin: left center;
    transform: rotate(-45deg);
}
.slider-arrow-prev:after {
    top: 27px;
    transform-origin: left center;
    transform: rotate(45deg);
}
.slider-arrow-next {
    right: 15%;
    bottom: 39.9%;
}
.slider-arrow-next:hover {
    transform: translateX(8px);
}
.slider-arrow-next:before {
    top: 29px;
    transform-origin: right center;
    transform: rotate(45deg);
}
.slider-arrow-next:after {
    top: 27px;
    transform-origin: right center;
    transform: rotate(-45deg);
}
.slider-arrows {
    position: absolute;
    top: calc(50% - 32px);
    width: 100%;
    margin: 0 auto;
    left: 0;
}
.screen-black {
    position: absolute;
    transition: all .5s;
    opacity: 0;
}

.turn-off .screen-black {
    opacity: 1; 
}

.slider-item_1 .screen-black {
    left: 5.9%;
    top: 14.6%;
    height: 68.2%;
    width: 79.5%;
}

.slider-item_2 .screen-black {
    height: 76.8%;
    width: 69.7%;
    left: 12.4%;
    top: 8.4%;
}
.active-screen-vertical {
    visibility:  visible;
}
.active-screen-gorizontal {
    visibility:  visible;
}

.services {
    padding-top: 70px;
    background-color: #f2f2f2;
    scroll-margin-top: 95px;
}
.services-item {
    display: flex;
}
.services-item-title {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 900;
    line-height: 17.86px;
    color: #666d89;
}
.services-item-desc {
    display: block;
    margin-top: 10px;
    height: 65px;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    letter-spacing: 0.1px;
    text-align: justify;
    color: #767e9e;
    overflow: hidden;
}
.flex-col {
   padding-left: 20px;
   padding-bottom: 34px;
}
.services-bottom {
    margin-top: 28px;
    height: 6px;
    background-color: #ffffff;;
}
.title-portfolio {   
    display: block;
    margin-top: 0;
    margin-bottom: 27px;
    font-family: "Lato";
    font-size: 30px;
    font-weight: 900;
    line-height: 17.86px;
    letter-spacing: -0.1px;
    color: #666d89;
}
.portfolio-desc {
    margin-bottom: 50px;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: justify;
    color: #767e9e;
}
.button-item {
    display: block;
    font-size: 12px;
    letter-spacing: 0.1px;     
    line-height: 17.56px;
    color: #767e9e;
    background: #2d303a;
    border-radius: 5px;
    border: 1px solid #666d89;
    outline: none;
}
.portfolio-desc-item {
    font-family: "Lato";
    font-weight: 400;
}
.portfolio {
    padding-top: 66px;
    background-color: #2d303a;
    scroll-margin-top: 94px;
}
.button-portfolio {
    display: flex;
    width: 292px;
    margin-top: 12px;
    justify-content: space-between;
}
.active-1 {
    color: #dedede;
    border: 1px solid #dedede;
}
.button-item:hover {
    color: #dedede;
    border: 1px solid #dedede;
}
.flex-wrapper {
    display: flex;
    margin-top: 14px;
    margin-left: -5px;
    max-width: 950px;  
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-portfolio-item {
    padding-bottom: 9px; 
    width: 24%; 
}
.portfolio-img {
    border: 5px solid #2d303a;
    width: 100%;
}
.active-2 {
    border: 5px solid #F06C64;
}
.flex-portfolio-item:nth-child(12)~ 
.flex-portfolio-item {
    display: none;
}
.portfolio-bottom {
    margin-top: 54px;
    height: 6px;
    background: #323746;
}
.about-us {
    padding-top: 70px;
    background-color: #f2f2f2;
    scroll-margin-top: 96px;
}
.about-title {
    display: block;
    margin-top: 0;
    margin-bottom: 28px;
    font-family: "Lato";
    font-size: 30px;
    font-weight: 900;
    line-height: 15.86px;
    letter-spacing: -0.1px;
    color: #666d89;
}
.about-desc {
    margin-bottom: 50px;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.1px;
    text-align: justify;
    color: #767e9e; 
}
.flex-about-wrapper {
    display: flex;
    margin-top: 44px;
    justify-content: space-between;
}
.about-flex {
  max-width: 300px;
}
.about-item-title {
    margin-top: 15px;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 900;
    line-height: 17.86px;
    color: #666d89;
    white-space: nowrap;
    overflow: hidden;
}
.about-item-desc {
    display: block;
    margin-top: 10px;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    letter-spacing: 0.1px;
    text-align: justify;
    color: #767e9e;
}
.about-icon {
    display: flex;
    margin-top: 25px;
    width: 151px;
    justify-content: space-between;
}
.about-icon-item {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 1px;
    margin-top: 1px;
    border: 1px solid rgb(101, 109, 137);
    border-radius: 50%;
}
.img-icon {
    margin-left: 8px;
    margin-top: 7px;
}
.item-message {
    margin-left: 1px;
    margin-top: 1px;
}
.icon-facebook {
    margin-left: 10px;
    margin-top: 6px;
}
.item-message:nth-child(3n) {
    margin-top: 1px;
}
.item-message:nth-child(4n) {
    margin-right: -2px;
    margin-top: 1px;
}
.about-icon-item:hover {
    border: 1px solid #d3b593;
}
.about-icon-item:hover img {
    filter: invert(100%);
}
.about-bottom {
    margin-top: 68px;
    height: 6px;
    background: #ffffff;
}
.quote-title {   
    display: block;
    margin-top: 0;
    margin-bottom: 27px;
    font-family: "Lato";
    font-size: 30px;
    font-weight: 900;
    line-height: 17.86px;
    letter-spacing: -0.1px;
    color: #f0d8d9;
}
.quote-desc {
    margin-bottom: 50px;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: justify;
    color: #f0d8d9;
}
.quote {
    padding-top: 69px;
    background-color: #f06c64;
    scroll-margin-top: 94px;
}
.form {
    display: flex;
    justify-content: space-between;
}
.form-wrapper {
    margin-top: 44px;
    width: 619px;
}
.form-wrapper-item {
    margin-top: 16px;
}
.quote-form input,
.quote-form textarea {
    text-indent: 13px;
    color:white;
    background-color: rgb(214, 86, 79);
}
.quote-form input {
    width: 100%;
    margin-bottom: 16px;
    height: 38px;
    border: 0;
    border-radius: 5px;
}
.quote-form input::placeholder,
.quote-form textarea::placeholder {
    padding-bottom: 2px;
    font-family: "Lato";
    font-size: 12px;
    word-spacing: 3px;
    color: rgb(244, 140, 143); 
}
.quote-form textarea::placeholder {
    word-spacing: 1px;
}
.quote-form textarea {
    width: 100%;
    height: 160px;
    padding-top: 9px;
    font-size: 12px;
    font-weight: 400;
    color: #f48c8f;
    border-radius: 5px;
    background-color: #d6564f;
    border-color: #d6564f;
    resize: none;
}
.quote-form input[type=submit] {
    margin-top: 10px;
    text-transform: uppercase;
}
#form-submit {
    background: #fbc65f;
}
.quote-form input[type=submit]:hover {
    color: #8f7033;
    background: #808080;
}
#form-submit {
    width: 22%;
}
.quote-info {
    margin-left: 21px;
    margin-top: 45px;
}
.contact-info-title {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 900;
    line-height: 17.86px;
    color: #f0d8d9;
}
.contact-info-desc {
    display: block;
    margin-top: 10px;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    line-height: 22.56px;
    letter-spacing: 0.1px;
    text-align: justify;
    color: #f0d8d9;
}
.quote-bottom {
    height: 6px;
    margin-top: 41px;
    background-color: #ea676b;
}
.address {
    margin-top: 21px
}
.address-item {
    display: block;
    font-size: 12px;
    font-family: "Lato";
    line-height: 22px;
}
.address-item:before {
    display: inline-block;
    width: 14px;
    height: 12px;
    margin-right: 7px;
    margin-left: 2px;
    content: '';
}
.address-item:nth-child(3n){
    margin-top: 3px;
}
.location:before {
     background-position: center;
     background-size: contain;
     background: url(assets/img/location.png) 0 0 no-repeat;
}
.phone:before {
    background-position: center;
    background-size: contain;
    background: url(assets/img/phone2.png) 0 0 no-repeat;
}
.mail:before {
    background-position: center;
    background-size: contain;
    background: url(assets/img/mail.png) 0 0 no-repeat;
}
 .mail-link {
    text-decoration: none;
    color: #f0d8d9;
}
.phone-link {
    text-decoration: none;
    color: #f0d8d9;
}
.location {
    color: #f0d8d9;
}
.footer {
    height: 76px;
    background-color: #2d303a;
}
.copyright {
    display: block;  
    padding-top: 12px;
    font-size: 12px;
    letter-spacing: 0.1px;
    font-family: "Lato";
    color: #666d89;
}
.footer-wrapper {
    display: flex;
    max-width: 950px;
    padding-top: 20px;
}
.footer-social {
    display: flex;
    margin-top: 2px;
    max-width: 154px;
    margin-left: auto;
    justify-content: space-between;
}
.footer-social .img-wrapper {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    margin-top: 1px;
    border: 1px solid rgb(101, 109, 137);
    border-radius: 50%;
}
.img-item {
    margin-left: 8px;
    margin-top: 7px;
}
.footer-social .img-wrapper:hover {
    border: 1px solid #d3b593;
}
.footer-social .img-wrapper:hover img {
    filter: invert(100%);
}
.slider {
    position: relative;
}
.slide {
    width: 100%;
}
.slide_1 {
    padding-top: 50px;
    padding-bottom: 23px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}
.slide_2 {
    background-color: #648BF0;
    border-bottom: 6px solid #b5b8f7;
}

.buttom-phone-1 {
    position: absolute;
    bottom: 37px;
    left: 90px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
}
.buttom-phone-2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 88px;
    left: 11px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
}
.about-item-foto-wrapper img {
    max-width: 100%;
}
.phone-container {
    position: relative;
}

.slider-item-content {
    max-width: 100%;
    margin-top: 10px;
    margin-left: 3px;
}
@media (max-width: 1020px){
    .slider-arrow-prev {
        bottom: 39%;
        left: 4.1%;
      }
      .slider-arrow-next {
        bottom: 39.2%;
        right: 4%;
      }
}
@media (max-width: 1019px){
   .flex-about-wrapper {
       width: 100%;
   }
    .about-flex {
        width: 32%;
        margin-top: -1%;
    }
    .slider-second-slide {
        margin-top: 9%;
    }
    .slider-second-slide img {
        max-width: 100%;
    }
   .quote-form {
       width: 100%;
   }
   .quote-info {
       width: 49%;
       margin-left: 4.3%;
       margin-top: 3.5%;
   }
.slider-item-content {
    max-width: 91%;
    margin-top: -1%;
    margin-left: 6%;
}
.slider-item_1
.screen-black {
    left: 10.5%;
    top: 12.5%;
    height: 69.7%;
    width: 73%;
}
.buttom-phone-1 {
    bottom: 7%;
    left: 36%; 
}
.slider-item_2 
.screen-black {
    height: 81.2%;
    width: 63.6%;
    left: 16.8%;
    top: 2%;
}
.buttom-phone-2 {
    top: 30%;
    left: 5%;
}
.slider-second-slide {
    margin-bottom: 0px;
}
.slider-wrapper {
    margin-bottom: 2%;
}
  .slider-arrow-prev {
    bottom: 36%;
    left: 4.1%;
  }
  .slider-arrow-next {
    bottom: 36%;
    right: 3.5%;
  }
  .title {
      margin-top: -3%;
  }
  .col-4 {
    flex-basis: 50%;
    padding-right: 5.1%;
}
.flex-col {
    padding-left: 22px;
    padding-bottom: 51px;
 }
 .row {
     margin-top: 6%;
     margin-right: -1%;
 }
 .services-bottom {
    margin-top: 2%;
 }
 .flex-portfolio-item {
    width: 32.3%;
}
.flex-wrapper {
    margin-top: 24px;
}
.portfolio {
    padding-top: 9%;
}
.portfolio-bottom {
    margin-top: 51px;
}
.about-title {
    margin-top: -1%;
}
.about-col {
    margin-top: -2.2%;
}
.about-item-desc {
    margin-top: 1%;
}
.about-icon {
    margin-top: 6%;
}
.quote {
    padding-top: 9.3%;
}
.quote-title {
    margin-top: -0.8%;
}
.slider-item-second {
    margin-bottom: 4.6%;
}
.quote-form input {
    margin-bottom: 2.8%;
}
.form-wrapper {
    width: 100%;
    margin-top: 5%;
}

.quote-bottom {
    margin-top: 4%;
}
#form-submit {
    width: 31%;
}
}
.hamburger-container{
    display: none;
}
.g-mm{
    position: absolute;
    top: 0;
    width: 74%;
    height: 100vh;
    background: #2d303a;
    z-index: 2;
    box-shadow: 0 0 10px rgba(45, 48, 58, .5);
    display: flex;
    left: -75%;
    transition: all .5s;
}
.g-mm-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    .container-header {
        padding-left: 5%;
        max-height: 71px;
    }
    .header-bottom {
        display: none;
    }
    
    .singolo-burger {
        display:none;
        position: relative; 
        top: -3%;
        font-size: 19px;
        margin-bottom: 7px;
        letter-spacing: -0.3em;
    }
     .header-logo-singolo {
            position: relative;
            font-size: 19px;
            top: -9px;
            left: 99px;
        
    }
    .hamburger-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2%;
    }
    .header-wrapper {
        justify-content: flex-start;
    }
    .header-nav {
        margin-top: 156px;
    }
    .hamburger {
        position: relative;
        width: 25px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: -20px;
      }
      .hamburger-icon{
        height: 2px;
        width: 100%;
        background: white;
        transition: all .5s;
      }
          .hamburger-active {
             background-color: transparent;
             display: flex;
          }    
   .hamburger-active .hamburger-icon:nth-child(1){
       transform: rotate(45deg);
       top:12px;
       position: absolute;
    }
   .hamburger-active .hamburger-icon:nth-child(2){
       transform: rotate(-45deg);
       top:12px;
       position: absolute;
   }
    .hamburger-active .hamburger-icon:nth-child(3) {
        display: none;
   }   
   .g-mm.active{
    left: 0;
    position: fixed;
   }
   .g-mm .header-menu{
    display: block;
   }
   .g-mm .header-menu{
    margin: 0;
   }
   .g-mm li{
    margin: 40px 0;
   }
   .g-mm .header-menu-point{
    display: none;
   }
 .header .header-nav {
     display: none;
 }
.flex-about-wrapper {
    flex-direction: column;
 }
 .about-flex {
    width: 100%;
}
.header-menu-link {
    font-size: 24px;
    font-weight: bold;
}
.slider {
    padding-top: 52px;
}
.slide_1 {
    padding-bottom: 0px;
    border-bottom: 6px solid #f06c64; 
}
.slide_2 {
    border-bottom: 6px solid #648BF0;
}
.about-flex {
    margin-bottom: 27px;
}
.about-icon {
    margin-top: 4%;
}
.about-us {
    padding-top: 46px;
    margin-left: -10px;
    margin-bottom: -82px;
}
.about-item-foto-wrapper {
width: 105%;

}
.about-flex {
margin-top: -6%;
margin-bottom: 55px;
}
.about-item-foto-wrapper img {
    width: 320px;
}
.about-col {
    margin-top: -0.2%;
}
.quote {
    padding-top: 15.3%;
}
.form {
    flex-direction: column;
 }
 .quote-desc {
    letter-spacing: -0.4px;
 }
 .quote-form input {
    margin-bottom: 1.3%;
    margin-top: 8px;
}
.form-wrapper {
    width: 106%;
    margin-left: -9px;
    margin-top: 5%;
}
.quote-form textarea {
    margin-top: 6px;
}
#form-submit {
    width: 100%;
    height: 51px;
}
.quote-info {
    width: 100%;
    margin-top: 9.5%;
    margin-left: -9px;
}

.contact-info-desc {
    line-height: 20.16px;
}
.footer-wrapper {
    text-align: center;
}
.copyright {
    display: none;
}
.quote-bottom {
    margin-top: 8%;
    background-color: #f06c64;
}
.img-item {
    margin-left: 2px;
}
.footer-social {
    margin-left: 77px;
}
.quote {
scroll-margin-top: 50px;
}
.services {
    scroll-margin-top: 50px; 
} 
.portfolio {
    scroll-margin-top: 50px; 
}
.about-us {
    scroll-margin-top: 50px;    
}
}

@media (max-width: 320px) {
    .button-portfolio {
        width: 117%;
    }
}

@media (max-width: 375px) {
    .slider-item-content {
        max-width: 102.9%;
        margin-top: 0.4%;
    }
    .phone-container {
        width: 129.2%;
        top: -10px;
        left: -39px;
    }
    .mobile-slider {
        margin-left: 34px;
        width: 98%;
    }
    .slider-arrow-prev {
        bottom: 27%;
        left: 3.1%;
    }
    .slider-arrow-next {
        bottom: 27%;
        right: 2.5%;
    }
    .slider-second-slide img {
        max-width: 151%;
    }
    .title {
        margin-top: -11%;
        margin-left: -8px;
    }
    .row {
        flex-direction: column;
    }
    .desc {
        letter-spacing: -0.4px; 
    }
    .col-4 {
        margin-top: 13px;
        margin-left: -8px;
    }
    .flex-col {
        padding-bottom: 14px;
    }
    .services-bottom {
        background-color: #f2f2f2;
    }
    .portfolio_wraper {
        margin-left: -9px;
    }
    .button-portfolio {
        margin-top: 15px;
        margin-left: -10px;
    }
    .portfolio {
        padding-top: 14%;
    }
    .flex-wrapper {
        margin-top: 24px;
        width: 106.9%;
    }
    .flex-portfolio-item {
        margin-top: -2px;
        width: 50.7%;
        margin-left: -11px;
    }
    .flex-portfolio-item {
        padding-bottom: 2px;
    }
    .flex-portfolio-item:nth-child(8)~ 
    .flex-portfolio-item {
        display: none;
    }
    .portfolio-bottom {
        margin-top: 28px;
        background: #2d303a;
    }
}